@page
@model MovieManagement_NguyenTuanVu.Pages.LoginModel
@if (ViewData["Message"] != null)
{
    <h3 style="color:red">@ViewData["Message"]</h3>
}
<div>
    <form method="post">
        <label>Email</label>
        <input asp-for="@Model.email"/>
        <label>Password</label>
        <input asp-for="@Model.password" />
        <button type="submit" >Login</button>
    </form>
</div>
